

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>inici</title>
  <link rel="stylesheet" href="styles.css">
  <link href="bootstrap.css" rel="stylesheet" type="text/css">
</head>
<body>
<div  class="p-3 mb-2 bg-primary text-white fixed-top">
    <h5 align="center">APLICACIÓ DE LA BLOCKCHAIN A LES CRIPTOMONEDES</h5>
 </div>
<div>
  <hr>
  <hr>
  <hr>
  <table class="table" width="100%">
    <tr>
      <td>
        <form action="/inici" method="GET">
          <button>inici</button>
        </form>
      </td>
      <td>
        <p class="text-primary">actualització</p>
      </td>
      <td>
        <p class="text-primary">informació</p>
      </td>
      <td>
        <form action="/usuari" method="GET">
          <button>usuari</button>
        </form>
      </td>
      <td>
        <p class="text-primary">modificació de l'usuari</p>
      </td>
      <td>
        <form action="/tasques" method="GET">
          <button>tasca</button>
        </form>
      </td>
      <td>
        <p class="text-primary">creació de la tasca</p>
      </td>
      <td>
         <p class="text-primary">modificació de la tasca</p>
      </td>
      <td>
        <p class="text-primary">eliminació de la tasca</p>
      </td>
      <td>
        <form action="/logout" method="POST">
          <button>Sortir</button>
         </form>
      </td>
    </tr>
  </table>
</div>
<div class="titol">
  <h4 align="center">Benvingut/da a la meva pàgina web</h4>
</div>

<div class= "info">
  <h5 align="center">Instruccions per a fer un bon ús de l'aplicació:</h5>
  <p>1. Creeu una transaccion (pressioneu el títol "Creació de la transaccion" a l'esquerra).</p>
  <p>2. Comproveu que teniu la última versió descarregada ("Actualització" a l'esquerra).</p>
  <p>3. Torneu a la pàgina d'inici.</p>
  <p>4. Seleccioneu un usuari per enviar la transaccion que han de fer, juntament amb el pagament.</p>
  <p>5. Confieu que facin la transaccion.</p>
</div>

<div class = "accions">
  <h5 align="center">Estàs preparat/da per l'intercanvi?</h5>
  <div class="transaccio">

  </div>
    <table class="table_transaccions">
      <tr>
        <td>Receptor</td>
        <td>Emisor</td>
        <td>Tasca</td>
        <td>Codi</td>
        <td></td>
      </tr>

      <tr>
        <form action="/transaccio" method="POST">
          <td>
            <fieldset class="scheduler-border">
              <select name="emisor" id = "emisor">
                <option name="emisor" value = "<%= emisor %>"><%= emisor %></option>
              </select>
            </fieldset>
          </td>
          <td>
            <fieldset class="scheduler-border">
              <select name="receptor" id = "receptor">
                <% if (usuaris) { %>
                  <% usuaris.forEach(user => { %>
                    <ul>
                      <option name="receptor" value = "<%= user.username %>"><%= user.username %></option>
                    </ul>
                  <% }); %>
                <% } %>
              </select>
            </fieldset>
          </td>
          <td>
            <fieldset class="scheduler-border">
              <select name="tasca" id = "tasca">
                <% if (tasques) { %>
                <% tasques.forEach(tasca => { %>
                  <ul>
                    <option  name="tasca" value = "<%= tasca.nomTasca %>"><%= tasca.nomTasca %></option>
                    <insert name="preu" value = "<%= tasca.preu %>"><%= tasca.preu %></insert>
                  </ul>
                <% }); %>
                <% } %>
              </select>
            </fieldset>
          </td>
          <td>
            <fieldset>
              <input type="text" name="hash"  placeholder="Indica el teu Hash privat" size="70"></input>
            </fieldset>
          </td>
          <td>
            <button class="btn btn-primary">Crea La transacció</button>
          </td>
        </form>
      </tr>
    </table>



  <div>
    <h5 align="center">Tasques Assignades</h5>
    <table class="table">
    	<tr>
    			<td>emisor</td>
    			<td>tasca</td>
    			<td></td>
    			<td></td>
    		</tr>


    		<tr>
    		<% if (transaccions) { %>
    		  	<% transaccions.forEach(transaccion => { %> 	
    		  	<td><%= transaccion.usuariOrigen.toUpperCase() %></td>
    		  	<td><%= transaccion.tasca %></td>
    			<td>
    		  	<form action="/tascaRebutjada" method="POST">
    		  		<input name="emisor" value="<%=transaccion.usuariOrigen%>" style="display:none">
    				<input name="receptor" value="<%=transaccion.usuariReceptor%>" style="display:none">
    				<input name="tasca" value="<%=transaccion.tasca%>" style="display:none">
    				<button class="btn btn-danger" >Rebutjar</button>
    				</form>
    			</td>
    			<td>
    		  	<form action="/tascaAcabada" method="POST">
    		  		<input name="emisor" value="<%=transaccion.usuariOrigen%>" style="display:none">
    				<input name="receptor" value="<%=transaccion.usuariReceptor%>" style="display:none">
    				<input name="tasca" value="<%=transaccion.tasca%>" style="display:none">
    				<button class="btn btn-success" >Acabada</button>
    				</form>
    			</td>                 
    	  		<% }); %>
    		<% } %>
    	</tr>
    </table>
  </div>

  <div >
    <h5 align="center">Actualització</h5>
      <p>Si vols continuar intercanviant les tasques de manera segura, descarrega't la última versió:</p>
      
    <form action="/descarrega" method="POST">
      <button align="center">Descarregar</button> 
    </form>
  </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="bootstrap.js" type="text/javascript"></script>
</body>
</html>