<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>inici</title>
  <link rel="stylesheet" href="styles.css">
  <link href="bootstrap.css" rel="stylesheet" type="text/css">
</head>
<body class="home">
<div  class="title">
    <h5 align="center">APLICACIÓ DE LA BLOCKCHAIN A LES CRIPTOMONEDES</h5>
    <h3 align="center">Andrea Bellmunt Fuentes</h3>
</div>
<div class="menuci">
  <hr>
  <hr>
  <hr>
  <table class="table" width="100%">
    <br>
      <tr>
       <form action="/inici" method="GET">
           <button class="btn btn-outline-light">inici</button>
        </form>

      </tr>
      <tr>
        <p class="text-secondary">actualització</p>
      </tr>
      <tr>
        <p class="text-secondary">informació</p>
      </tr>
      <tr>
        <form action="/usuari" method="GET">
          <button class="btn btn-outline-light">usuari</button>
        </form>
      </tr>
      <tr>
        <p class="text-secondary">modificació de l'usuari</p>
      </tr>
      <tr>
        <form action="/tasques" method="GET">
          <button class="btn btn-outline-light">tasca</button>
        </form>
      </tr>
      <tr>
        <p class="text-secondary">creació de la tasca</p>
      </tr>
      <tr>
         <p class="text-secondary">modificació de la tasca</p>
      </tr>
      <tr>
        <p class="text-secondary">eliminació de la tasca</p>
      </tr>
      <tr>
         <form action="/blockchain" method="GET">
          <button class="btn btn-outline-light">blockchain</button>
        </form>
      </tr>
      <tr>
        <p class="text-secondary">la teva activitat</p>
      </tr>
      <br>
      <tr>
        <form action="/logout" method="POST">
          <button class="btn btn-outline-light">sortir</button>
         </form>
      </tr>
  </table>
</div>
<div class="titol">
  <h4 align="center">Benvingut/da a la meva pàgina web</h4>
</div>
<div class="benvinguda" align="justify">
  <h5>Aquí podràs observar i interaccionar amb la meva part pràctica del Treball de Recerca, que consisteix en crear un sistema d'intercanvi de criptomonedes entre dos usuaris amb les que es poden pagar un seguit de tasques. </h5>
</div>
<div class= "info" align="justify">
<br>
    <h2><center><strong><ins>Informació</ins></strong></center></h2>
    <h6>1.  Per tal de pagar un servei,  dirigeix-te al formulari que hi ha sota d’aquesta informació. </h6>
    <h6>2.  En aquest formulari podràs escollir quina tasca vols pagar i a qui. </h6>
    <h6>3.  Si la tasca que vols encarregar no s’ha definit prèviament, ho podràs fer a través del botó “tasca” que tens al menú de l’esquerra. </h6>
    <h6>4.  Per definir una tasca hauràs d’atribuir-li un nom, un valor (en criptotdr, la meva moneda), el temps estimat en fer-la i una descripció. </h6>
    <h6>5.  A més a més, per fer la transacció també necessitaràs un codi concret, anomenat “Hash”, que es pot aconseguir anant al final de la pàgina “inici” (a "actualització").</h6>
    <h6>6.  Aquest “Hash” és un codi encriptat que varia depenent de les darreres transaccions realitzades entre tots els usuaris. </h6>
    <h6>7.  Finalment, només cal pressionar el botó “Crear la transacció” i esperar que el receptor l’accepti o rebutgi. </h6>
    <h6>8.  Pots visualitzar les teves tasques assignades com a receptor sota el formulari de transaccions. </h6>
    <h6>9.  De forma general, es poden modificar certes dades personals vinculades al teu usuari (amb el botó “usuari”) o consultar la teva activitat en la web ( amb el botó “blockchain”). </h6>


</div>

<div class = "transaccio">
  <br>
  <h5 align="center">Estàs preparat/da per l'intercanvi?</h5>

    <p><center> Actualment tens <strong class="text-danger"> <%= userito.moneder %></strong> criptotdr</center></p>
    <table class="table_transaccions" align="center">
      <tr>
        <td>Emissor</td>
        <td>Receptor</td>
        <td>Tasca</td>
        <td>Hash</td>
        <td></td>
      </tr>
      <tr>
        <form id="transaccio" name="transaccio" action="/transaccio" onsubmit="return validacio();" method="POST">
          <td>
              <select name="emissor" id = "emissor" class="formControl2">
                <option name="emissor" value = "<%= emissor %>"><%= emissor.toUpperCase() %></option>
              </select>
          </td>
          <td>
              <select name="receptor" id = "receptor" class="formControl2">
                <% if (usuaris) { %>
                  <% usuaris.forEach(user => { %>
                      <option name="receptor" value = "<%= user.username %>"><%= user.username.toUpperCase() %></option>
                  <% }); %>
                <% } %>
              </select>
          </td>
          <td>
              <select name="tasca" id = "tasca" class="formNumber">
                <% if (tasques) { %>
                <% tasques.forEach(tasca => { %>
                    <option value = '{"tasca":"<%= tasca.nomTasca %>", "preu":"<%= tasca.preu %>"}'><%= tasca.nomTasca%></option>
                <% }); %>
                <% } %>
              </select>
          </td>
            <form action="/transaccio"  method="POST">
              <td>
                  <input type="text" name="hash"  placeholder="Indica el teu Hash privat" size="70" class="formControl3"></input> <!-- recordatori: ni required ni pattern s'han de posar perquè no serveixen de res-->
                </td>
              <td>
              <button class="btn btn-primary">Crear la transacció</button>
          </td>
            </form>
        </form>
      </tr>
    </table>
    <br>
    <br>

    <h5 align="center">Tasques Assignades</h5>
    <table class="table">
    	<tr>
    			<td><h6>emissor</h6></td>
    			<td><h6>tasca</h6></td>
    			<td></td>
    			<td></td>
    		</tr>

    		<% if (transaccions) { %>
    		  	<% transaccions.forEach(transaccion => { %> 
            	<tr>
    		  	<td><%= transaccion.usuariOrigen.toUpperCase() %></td>
    		  	<td><%= transaccion.tasca.toUpperCase() %></td>
    			<td>
    		  	<form action="/tascaRebutjada" method="POST">
    		  		<input name="emissor" value="<%=transaccion.usuariOrigen%>" style="display:none">
    				<input name="receptor" value="<%=transaccion.usuariReceptor%>" style="display:none">
    				<input name="tasca" value="<%=transaccion.tasca%>" style="display:none">
    				<button class="btn btn-danger" >Rebutjar</button>
    				</form>
    			</td>
    			<td>
    		  	<form action="/tascaAcabada" method="POST">
    		  		<input name="emissor" value="<%=transaccion.usuariOrigen%>" style="display:none">
    				<input name="receptor" value="<%=transaccion.usuariReceptor%>" style="display:none">
    				<input name="tasca" value="<%=transaccion.tasca%>" style="display:none">
    				<button class="btn btn-success" >Acabada</button>
    				</form>
    			</td> 
          </tr>                
    	  		<% }); %>
    		<% } %>
    	
    </table>
  </div>

  <div class="actualitzacio">
<br>
    <h2><center><strong><ins>Actualització</ins></strong></center></h2>
      <p>Si vols continuar intercanviant les tasques de manera segura, descarrega't la última versió del teu Hash privat, que t'arribarà per mail:</p>
      <center>
    <form action="/descarrega" method="POST">
      <button class="btn btn-light">Descarregar</button> 
      </center>
    </form>
</div>


<script>
  function validacio() {
    console.log(<%= userito.moneder %>)
    var elements = document.getElementById("transaccio").elements;
    console.log(JSON.parse(elements.tasca.value))
    var values = JSON.parse(elements.tasca.value)
    if (<%= userito.moneder %> < values.preu) {
      alert("No tens prous diners per fer la transacció");
      return false;
    } else {
     return true;
    }


  
    
}
</script>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="bootstrap.js" type="text/javascript"></script>
</body>
</html>