
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<p>Bienvenido!!</p>

<form action="/modificaUsuari" method="POST">
<table>
<tr>
	<td><%= user.username%></td>
	<td><%=user.nom%></td>
	<td><%=user.cognoms%></td>
	<td><%=user.mail%></td>
	<td><%=user.diners%></td>
</tr>
<tr>
	<td><input type="text" name="username" value="<%=user.username%>" readonly></td>
	<td><input type="text" name="nom" value="<%=user.nom%>"></td>
	<td><input type="text" name="cognoms" value="<%=user.cognoms%>"></td>
	<td><input type="text" name="mail" value="<%=user.mail%>"></td>
	<td><input type="text" name="diners" value="<%user.diners%>" readonly></td>
</tr>
</table>
<button>Envia</button>
</form>

<% if (tasks.length >1) { %>
<ul>
  <% tasks.forEach(task => { %>
  <li><%= task.tasca %></li>
  <li><%= task.emisor %></li>
  <li><%= task.preu %></li>
  <li><%= task.estat %></li>
  <% }); %>
<ul>
<% } %>



<form action="/tasques" method="GET" >
    <button>Tasques</button>
</form>

<form action="/home" method="GET" >
    <button>home</button>
</form>

<form action="/logout" method="POST" >
    <button>Logout</button>
</form>


</body>
</html>