
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<p>Benvingut/da <%= user.nom%> </p>


<form action="/modificaUsuari" method="POST">
<table>
<tr>
	<td>Username: <%= user.username%></td>
	<td>Nom: <%=user.nom%></td>
	<td>Cognoms: <%=user.cognoms%></td>
	<td>Mail: <%=user.mail%></td>
	<td>Cartera: <%=user.diners%></td>
</tr>
<tr>
	<td><input type="text" name="username" value="<%=user.username%>" readonly></td>
	<td><input type="text" name="nom" value="<%=user.nom%>"></td>
	<td><input type="text" name="cognoms" value="<%=user.cognoms%>"></td>
	<td><input type="text" name="mail" value="<%=user.mail%>"></td>
	<td><input type="text" name="diners" value="<%=user.diners%>" readonly></td>
</tr>
</table>
<button>Envia</button>
</form>
<!-- <%= JSON.stringify(tasks) %> -->
<p>Tasques Assignades</p>

<table>
	<tr>
			<td>Titol</td>
			<td>Descripcio</td>
			<td>Preu</td>
			<td>Temps</td>
		</tr>
		<tr>
		<% if (tasks.length >0) { %>
		  	<% tasks.forEach(task => { %>
		  	<td><%= task.titol %></li>
		  	<td><%= task.descripcio %></li>
		  	<td><%= task.preu %></li>
		  	<td><%= task.temps %></li>
	  		<% }); %>
		<% } %>
	</tr>
</table>



<form action="/tasques" method="GET" >
    <button>Tasques</button>
</form>

<form action="/transaccio" method="GET" >
    <button>Trasnsaccions</button>
</form>

<form action="/home" method="GET" >
    <button>home</button>
</form>

<form action="/logout" method="POST" >
    <button>Logout</button>
</form>


</body>
</html>