<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>tasca</title>
  <link rel="stylesheet" href="styles.css">
  <link href="bootstrap.css" rel="stylesheet" type="text/css">
</head>
<body class="tasques">
<div  class="title">
    <h5 align="center">APLICACIÓ DE LA BLOCKCHAIN A LES CRIPTOMONEDES</h5>
    <h3 align="center">Andrea Bellmunt Fuentes</h3>
</div>
<div class="menu">
  <hr>
  <hr>
  <hr>
  <table class="table" width="100%">
    <br>
      <tr>
       <form action="/inici" method="GET">
           <button class="btn btn-outline-light">inici</button>
        </form>

      </tr>
      <tr>
        <p class="text-white">actualització</p>
      </tr>
      <tr>
        <p class="text-white">informació</p>
      </tr>
      <tr>
        <form action="/usuari" method="GET">
          <button class="btn btn-outline-light">usuari</button>
        </form>
      </tr>
      <tr>
        <p class="text-white">modificació de l'usuari</p>
      </tr>
      <tr>
        <form action="/tasques" method="GET">
          <button class="btn btn-outline-light">tasca</button>
        </form>
      </tr>
      <tr>
        <p class="text-white">creació de la tasca</p>
      </tr>
      <tr>
         <p class="text-white">modificació de la tasca</p>
      </tr>
      <tr>
        <p class="text-white">eliminació de la tasca</p>
      </tr>
      <tr>
         <form action="/blockchain" method="GET">
          <button class="btn btn-outline-light">blockchain</button>
        </form>
      </tr>
      <br>
      <br>
      <tr>
        <form action="/logout" method="POST">
          <button class="btn btn-outline-light">sortir</button>
         </form>
      </tr>
  </table>
</div>
<div class="creacioTasca">
	<br>
		<h2><center><strong><ins>creació de la tasca</ins></strong></center></h2>

	<form action="/crearTasca" method="POST"> 
		<table class="table" width="100%">

		<tr>
			<td>Nom de la tasca:</td>
			<td>Valor monetari:</td>

		</tr>
		<tr>
			<td><input type="text" name="nomTasca" placeholder="nom de la tasca" class="formControl" required="required"></td>
		
			<td><input type="number" name="preu" placeholder="valor monetari" class="formControl" required="required"></td>
		</tr>
		<tr>
			<td>Temps requerit:</td>
			<td>Descripció de la tasca:</td>

		</tr>
		<tr>
		    <td><input type="text" name="temps" placeholder="temps requerit" class="formControl" required="required"></td>
		
			<td><input type="text" name="descripcio" placeholder="descripció de la tasca" class="formControl" required="required"></td>

		</tr>
		</table>
		<div align="center">
			<button class="btn btn-light btn-lg">Crear</button>
		</div>
		<br>
	</form>
</div>

<div class="modieli">

<br>
		<h2><center><strong><ins>modificació i eliminació de la tasca</ins></strong></center></h2>
		<h5>Selecciona i introdueix què vols canviar:</h5>
	<table class="table" width="100%">
		<tr>
						<td>Nom:</td>
						<td>Valor monetari:</td>
						<td>Temps requerit:</td>
						<td>Descripció de la tasca:</td>
						<td></td>
						<td></td>
					</tr>
		<% if (tasques.length > 0) { %> 
				<% tasques.forEach(tasca => {%>
					
					<tr>
							<form action="/modificarTasca" method="POST">
						<td><input type="text" name="nomTasca" value= "<%= tasca.nomTasca%>" readonly class="formControl2"></td>
						<td><input type="number" name="preu" value="<%= tasca.preu%>" class="formNumber"></td>
						<td><input type="text" name="temps" value="<%= tasca.temps%>" class="formNumber"></td>
						<td><input type="text" name="descripcio" value="<%= tasca.descripcio%>" class="formControl3"></td>
						<td>
								<button class="btn btn-light">Canviar</button>
							</form>
						</td>
						<td>
							<form action="/esborrarTasca" method="POST">
							<BUTTON name="nomTasca" value="<%= tasca.nomTasca %>" class="btn btn-danger">Esborrar</BUTTON>
							</form>
						</td>
					</tr>

					<% }); %>
		<% } %>
		
	</table>
</div>
	<!-- Fer connexió entre tasca escollida i els següents inputs-->

	
					
	<!-- fer que es pugui seleccionar una fila i eliminar aquella-->
		

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="bootstrap.js" type="text/javascript"></script>
</body>
</html>