 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>tasca</title>
    <link rel="stylesheet" href="styles.css">
  <link href="bootstrap.css" rel="stylesheet" type="text/css">
</head>
<body>
<h5><center>APLICACIÓ DE LA BLOCKCHAIN A LES CRIPTOMONEDES</center></h5>
	
<form action="/inici" method="GET">
    <button>inici</button>
</form>

<form action="/actualitzacio" method="GET">
    <button>actualització</button>
</form>

<form action="/informacio" method="GET">
    <button>informació</button>
</form>

<form action="/usuari" method="GET">
    <button>usuari</button>
</form>

<form action="/tasques" method="GET">
    <button>tasca</button>
</form>

<form action="/creacioTasca" method="GET">
    <button>creació de la tasca</button>
</form>

<form action="/modificacioTasca" method="GET">
    <button>modificació de la tasca</button>
</form>

<form action="/eliminacioTasca" method="GET">
    <button>eliminació de la tasca</button>
</form>
	<h3>creació de la tasca</h3>
	<p>____________________________________________________________________________________________________________________________________</p>

	<form action="/crearTasca" method="POST"> 
		<p>Nom de la tasca:</p>
			<input type="text" name="nomTasca" placeholder="nom de la tasca">
		<p>Valor monetari:</p>
			<input type="text" name="preu" placeholder="valor monetari">
		<p>Temps requerit:</p>
			<input type="text" name="temps" placeholder="temps requerit">
		<p>Descripció de la tasca:</p>
			<input type="text" name="descripcio" placeholder="descripció de la tasca">
		<button>Crear</button>
	</form>


	<h3>modificació de la tasca</h3>
	<p>____________________________________________________________________________________________________________________________________</p>
		<p>Seleccionar la tasca:</p>
	<table class="table">
		
					<% if (tasques.length >0) { %> 
					<% tasques.forEach(tasca => {%>
					<tr>
					<td><%= tasca.nomTasca %></td>
					<td><%= tasca.preu %></td>
					<td><%= tasca.temps %></td>
					<td><%= tasca.descripcio %></td>
					
					</tr>
					<% }); %>
		<% } %>

		
	</table>
	<!-- Fer connexió entre tasca escollida i els següents inputs-->

		
	<form action="/modificarTasca" method="POST">
			<p>Dades de la teva tasca seleccionada:</p> <!--No en tinc ni idea de com fer perquè tota la informació surti de la tasca seleccionada. Entenc que és una cosa que s'ha de fer a app.js amb el botó, però no sé com. -->
				<p>Nom:</p>
					 <input type="text" name="nom">
				<p>Valor monetari:</p>
					 <input type="text" name="preu">
				<p>Temps requerit:</p>
					 <input type="text" name="temps">
				<p>Descripció de la tasca:</p>
					 <input type="text" name="descripcio">
		<button>Canviar</button>
	</form>


	<h3>eliminació de la tasca</h3>
	<p>____________________________________________________________________________________________________________________________________</p>
		<p>Seleccionar la tasca:</p>
<table>
		
					<% if (tasques.length > 0) { %> 
				<% tasques.forEach(tasca => {%>
				<tr>
					<td><%= tasca.nomTasca %></td>
					<td><%= tasca.preu %></td>
					<td><%= tasca.temps %></td>
					<td><%= tasca.descripcio %></td>
					<td>
						<form action="/esborrarTasca" method="POST">
							<BUTTON name="nomTasca" value="<%= tasca.nomTasca %>" >Esborrar</BUTTON>
						</form>
					</td>
				</tr>
					<% }); %>
		<% } %>

		
	</table>

	<!-- fer que es pugui seleccionar una fila i eliminar aquella-->
		


<form action="/logout" method="POST" >
    <button>Sortir</button>
</form>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="bootstrap.js" type="text/javascript"></script>
</body>
</html>