
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<p>Transaccions</p>



<form action="/creacioTrans" method="POST">
   <fieldset>
      <legend>Emisor</legend>
      <p>
        <label>Tu</label>
        <select name="emisor" id = "emisor">
          <option name="emisor" value = "<%= emisor %>"><%= emisor %></option>
         </select>
      </p>
   </fieldset>
   <fieldset>
      <legend>Receptor</legend>
      <p>
        <label>Llistat de usuaris</label>
        <select name="receptor" id = "receptor">
        <% if (users) { %>
          <ul>
            <% users.forEach(user => { %>
            <option name="receptor" value = "<%= user.nom %>"><%= user.nom %></option>
            <% }); %>
          <ul>
          <% } %>
         </select>
      </p>
   </fieldset>
   <fieldset>
      <legend>Tasques</legend>
      <p>
        <label>Llistat de tasques</label>
        <select name="tasca" id = "tasca">
        <% if (tasks) { %>
          <ul>
            <% tasks.forEach(task => { %>
            <option  name="tasca" value = "<%= task.titol %>"><%= task.titol %></option>
            <% }); %>
          <ul>
          <% } %>
         </select>
      </p>
   </fieldset>
   <button>Envia</button>
</form>







<form action="/home" method="GET" >
    <button>home</button>
</form>

<form action="/logout" method="POST" >
    <button>Logout</button>
</form>



</body>
</html>